body > nav {
    box-shadow: 0 1px 0 rgba(115, 130, 140, 0.2);
    position: fixed;
    background-color: var(background-color);
    backdrop-filter: saturate(100%) blur(40px);
    -webkit-backdrop-filter: saturate(100%) blur(40px);
}

body > main {
    padding-top: 1rem * 3;
    padding-bottom: 0px;
}

body > footer {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(115, 130, 140, 0.2);
    display: flex;
    align-items: center;
}

.grid-style {
    padding-top: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
}

@media screen and (max-width: 1200px) {

    .grid-style {
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }
}

@media screen and (max-width: 750px) {

    .grid-style {
        grid-template-columns: 1fr;
        row-gap: 60px;
        padding-left: 7rem;
        padding-right: 7rem;
    }
}

.author {
    margin-left: auto;
    margin-right: auto;
}

.authorText {
    margin: 15px 0 15px 0;
}

.title {
    display: inline-block;
    vertical-align: middle;
    padding-right: 8px;
}

.icon {
    border-radius: 15%;
    background-color: whitesmoke;
}

article {
   margin-top: 0 !important;
}

article > header {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article > header > hgroup {
    margin-bottom: 0.5rem;
}

article > p {
    height: 35%;
}

article > footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article > footer > button {
    margin-bottom: 0;
}

#lang-selector{
    border: none;
}

.theme-switch {
    display: none;
}

.theme-switch + label:before {
    -webkit-filter: invert(0%); /* safari 6.0 - 9.0 */
    filter: invert(0%);
}

.theme-switch:checked + label:before{

    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}
